body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f7f7f7;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    background: url("https://img.freepik.com/premium-vector/geometric-doodle-hand-drawn-seamless-pattern-random-decorative-elements-vector-illustration_124009-942.jpg?w=826");
    background-size: cover;
    background-position: center;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.08);
    width: 90%;
    min-width: 420px;
}

h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 24px;
    color: #333;
}

.input-form,
.hasil-section {
    margin: 15px 0;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 15px;
    color: #555;
}

input[type="date"] {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    outline: none;
    transition: border-color 0.3s;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.08);
}

input[type="date"] {
    border-color: #ffff00;
}

input::placeholder{
    color: #999;
}

button{
    display: block;
    margin-top: 20px;
    padding: 12px 15px;
    border-color: #ffff33;
    color: #000000;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover{
    background-color: #ffff00;
}

.hasil-section p {
    font-size: 18px;
    color: #333;
    text-align: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 6px;
    margin-top: 20px;
    box-shadow: 0px, 0px, 25px rgba(0, 0, 0, 0.08);
    width: 100%;
}